---
import MainLayout from "@/layouts/MainLayout.astro";
import CardProject from "../../components/ui/cards/CardProject.astro";
import PrimaryCTA from "@/components/ui/buttons/PrimaryCTA.astro";
import { supabase } from "@/lib/supabase";

const { data, error } = await supabase.from("project").select("*");

console.log(data, error);

const project1 = {
  slug: "1232-8329-1233-0948",
  title: "Namo Statyba",
  description: "Alytus, Barlonio 3",
  cardImage:
    "https://c8.alamy.com/comp/A5M5HG/excavating-foundation-for-random-house-building-at-in-new-york-city-A5M5HG.jpg",
  cardImageAlt: "image",
  iconUrl: "",
};
const project2 = {
  slug: "0098-3213-1233-1233",
  title: "Buto Renovacija",
  description: "Kaunas, Birzelio 23-iosios 3 32",
  cardImage:
    "https://www.usnews.com/object/image/0000018a-3d69-db4c-adab-7f7d8b4d0000/gettyimages-1433147266.jpg?update-time=1693247509991&size=responsive640",
  cardImageAlt: "image",
  iconUrl: "",
};
const project3 = {
  slug: "3333-9832-1233-7777",
  title: "Ligonines Renovacija",
  description: "Kaunas, Virsulio al. 188",
  cardImage:
    "https://images.adsttc.com/media/images/6567/b43f/ad68/bf77/f85a/cbd5/large_jpg/damin-school-renovation-special-education-school-campus-renewal-real-architects_22.jpg?1701295182",
  cardImageAlt: "image",
  iconUrl: "",
};
---

<MainLayout title={"pageTitle"}>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        Current Projects
      </h1>

      <p
        class="mt-4 text-pretty pb-8 text-lg text-neutral-600 dark:text-neutral-400"
      >
        Here you can see your current projects and checkup on progress of them.
      </p>

      <PrimaryCTA title={"Create a new Project!"} url={"/project/new"} />
    </div>
  </section>

  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <!--Blog posts grid-->
    <div class="grid gap-6 lg:grid-cols-2">
      <CardProject projectEntry={project1} />
      <CardProject projectEntry={project2} />
      <CardProject projectEntry={project3} />
    </div>
  </section>
</MainLayout>
